body {
  margin: 0;
  background-color: #FFF;
  color: #000;
  font-family: 'TTTravels-Regular';
  font-size: 14px;
  cursor: none;
}
body a {
  color: #000;
  text-decoration: none;
  cursor: none;
}
body #mouse {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 2px solid #555;
  border-radius: 50%;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
body #mouseMessage {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100px;
  opacity: 0;
}
body .preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #e0e0e0;
  z-index: 1000;
}
body .preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}
body .preloader__row--item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #580300;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}
body .preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}
@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
body .loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}
body .loaded .preloader {
  display: none;
}
@font-face {
  font-family: 'Schnyder_X_Cond_XL_Demi';
  src: url('../fonts/Schnyder_X_Condensed/Schnyder_X_Cond_XL_Demi.otf');
}
@font-face {
  font-family: 'TTTravels-Regular';
  src: url('../fonts/TT_Travel/TTTravels-Regular.ttf');
}
body .toggleMenu .nav__toggle--item:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px) !important;
  transition: all 0.2s ease-in-out;
}
body .toggleMenu .nav__toggle--item:nth-child(2) {
  transform: rotate(-45deg) translate(5px, -6px) !important;
  transition: all 0.2s ease-in-out;
}
body .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
  height: 0;
}
body .header > * {
  z-index: 5;
}
body .header .nav .nav__toggle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-bottom: 10px;
  width: 40px;
  height: 30px;
  cursor: pointer;
}
body .header .nav .nav__toggle .nav__toggle--item {
  width: 30px;
  height: 2px;
  background: #580300;
  transform: rotate(0deg) translate(0, 0);
  transition: all 0.2s ease-in-out;
}
body .header .nav .nav__toggle:hover .nav__toggle--item:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
  transition: all 0.2s ease-in-out;
}
body .header .nav .nav__toggle:hover .nav__toggle--item:nth-child(2) {
  transform: rotate(-45deg) translate(5px, -6px);
  transition: all 0.2s ease-in-out;
}
body .header .nav .nav__list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
body .header .nav .nav__list .nav__list--item {
  margin-bottom: 10px;
}
body .main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  overflow: hidden;
}
body .main .main__title {
  position: absolute;
  color: #580300;
  font-family: 'Schnyder_X_Cond_XL_Demi';
  font-size: 110px;
  letter-spacing: 10px;
  mix-blend-mode: darken;
  z-index: 5;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
body .main .main__title::before {
  content: 'INK LINGERIE';
  position: absolute;
  top: 0;
  left: -60vw;
  color: #FFF;
  white-space: nowrap;
  text-shadow: #580300 0 0 1px, #580300 0 0 2px;
}
body .main .main__title::after {
  content: 'INK LINGERIE';
  position: absolute;
  top: 0;
  left: 60vw;
  color: #FFF;
  white-space: nowrap;
  text-shadow: #580300 0 0 1px, #580300 0 0 2px;
}
body .main .swiper-container {
  width: auto;
  height: 70vh;
  margin: 0 50px;
  transform: rotate(2deg);
}
body .main .swiper-container img {
  height: 100%;
}
body .main .swiper-container .swiper-wrapper {
  align-items: center;
}
body .main .swiper-container .swiper-wrapper .swiper-slide-prev img,
body .main .swiper-container .swiper-wrapper .swiper-slide-next img {
  height: 50%;
}
body .main .swiper-container .swiper-wrapper .swiper-slide-prev {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
body .main .swiper-container .swiper-wrapper .swiper-slide-next {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
body .main .swiper-container .swiper-wrapper .swiper-slide-active {
  height: 100%;
  transition: 1s opacity 1;
}
body .footer {
  padding: 50px;
}
body .footer > * {
  z-index: 5;
}
body .footer .footer__social {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body .footer .footer__social .footer__social--line {
  display: inline-block;
  height: 1px;
  width: 50px;
  margin: 0 10px;
  background: #393939;
}
body .background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
body .background .background__image {
  width: 100%;
  height: 100%;
  background-image: url('../images/bg-sketch.png');
  background-repeat: no-repeat;
  background-position: 50% 10%;
}
@media (max-width: 1024px) {
  .main .main__title {
    font-size: 72px !important;
  }
}
@media (min-width: 768px) {
  .nav .nav__toggle {
    display: none !important;
  }
  .nav .nav__list {
    display: block !important;
  }
}
@media (max-width: 768px) {
  .nav #nav__list {
    display: none;
  }
  .swiper-container .swiper-wrapper .swiper-slide {
    text-align: center;
  }
  .main .main__title {
    font-size: 48px !important;
  }
  .main .main__title::before {
    left: -65vw !important;
  }
  .main .main__title::after {
    left: 65vw !important;
  }
}
@media (max-width: 414px) {
  .main .main__title {
    font-size: 36px !important;
  }
  .main .main__title::before {
    left: -70vw !important;
  }
  .main .main__title::after {
    left: 70vw !important;
  }
}
